.BurgerConstructor {
	height: 100vh;
	composes: pt-25  from global;


	/* outline: 2px solid rosybrown;  
	outline-offset: -2px; */
}

.MainConstructorList {
	composes: mb-10  from global;

	/* outline: 2px solid rgb(255, 213, 0);  
	outline-offset: -2px; */
}

.ConstructorListElement {
	background-color: var( --interface-modal-bg, #1C1C21);
	/* composes: mt-4 from global; */

	/* outline: 2px solid rgb(38, 0, 255);  
	outline-offset: -2px; */
}

.MiddleConstructorList {
	height: 100vh;
	display: grid;
	grid-template-columns: 100%;  
	row-gap: 16px; 
	overflow-x: hidden;
	overflow-y: scroll;
	composes: mt-4 mb-4  from global;

	/* outline: 2px solid rgb(255, 0, 247);  
	outline-offset: -2px; */
}


