.BurgerConstructor {
	outline: 2px solid rosybrown;  
	outline-offset: -2px;
	composes: pt-25  from global;

}

.ConstructorElement {
	background-color: var( --interface-modal-bg, #1C1C21);
}

.ConstructorList {
	display: grid;
	grid-template-columns: 100%;  
	column-gap: 10px; 
	overflow-y: scroll;
}
