
.NavLink  {
	display: flex;
	justify-content: center;
	align-items: center;
	composes: pl-5 pr-5   from global;
}


.NavIcon {
	composes: mr-2   from global;
}

.Text {
	font-family: 'JetBrainsMono';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.TextDefault {
	composes: text text_type_main-default   from global;
}

.TextInactive {
	composes: text text_type_main-default text_color_inactive   from global;
}