:root {
  --interface-bg: #131316;
  --text-promary-light: #f2f2f3;
}

@font-face {
  font-family: "JetBrainsMono";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

a {
  text-decoration: none;
}

.App { 
  font-family: "JetBrainsMono", "Arial", sans-serif;
  background-color: var( --interface-bg, #131316);
  color: var( --text-promary-light);
  text-align: center;
  padding: 40px 40px 40px 40px;
  border: 5px solid red;
}
